.debug {
  font-family: monospace;
  border: 1px solid black;
  padding: 10px;
  display: block;
}
.builder {  
  width: 520px;
  border: 1px solid;
  display: grid;
  padding: 0 0 1em 0;
  }
.control {
  margin: 0;
  padding: 0.2em 0 0.2em 0;
}
label{
  cursor: pointer;
  display: inline-block;
  padding: 6px 6px;
  text-align: right;
  width: 150px;
  vertical-align: top;
}
input{
  font-size: inherit;
}
button {
  display: block;
  width:6em;
  /* margin:4px; */
  margin: 0.5em auto;
  text-align: center
}
select {
  border-radius: 1px;
  padding: 5px 0 5px 0px;
  width: 175px;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  top: 4px;
  padding: 2em;
}

/* span {
  color: red;
}
input[type=text] {
  box-shadow: 0 0 15px 4px rgba(0,0,0,0,06);
  margin: 10px 0;
  padding: 5px;
}
input:required + span::after {
  content: "Required";
}
label {
  display: block;
}
select {
  border-radius: 5px;
  padding: 5px;
  width: 30%;
}
button {
  margin: 1px;
}
.round-input {
  border-radius: 10px;
  padding: 10px;
} */
