.builder {  
  width: 660px;
  border: 1px solid;
  display: grid;
  padding: 0 0 1em 0;
  }
.control {
  margin: 0;
  padding: 0.2em 0 0.2em 0;
}
label{
  cursor: pointer;
  display: inline-block;
  padding: 6px 6px;
  text-align: right;
  width: 150px;
  vertical-align: top;
}
input{
  font-size: inherit;
}
button {
  display: block;
  width:6em;
  margin: 0.5em auto;
  text-align: center
}
select {
  border-radius: 1px;
  padding: 5px 0 5px 0px;
  width: 175px;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  top: 4px;
  padding: 2em;
}
.btn-remove {
  background-color: white;
  border: 0.5px;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-remove:hover {
  background-color: RoyalBlue;
  color: white;
}

